<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_3.xsd" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <web_1:welcome-file-list>
    <web_1:welcome-file></web_1:welcome-file>
  </web_1:welcome-file-list>
  <web_1:jsp-config>
    <taglib>
      <taglib-uri>myjstl</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c-rt.tld</taglib-location>
    </taglib>
  </web_1:jsp-config>
  <web_1:context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:config/spring-*.xml</param-value>
  </web_1:context-param>
  <web_1:context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath*:config/log4j.properties</param-value>
  </web_1:context-param>
  <web_1:servlet-mapping>
    <web_1:servlet-name>default</web_1:servlet-name>
    <web_1:url-pattern>*.jpg</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>default</web_1:servlet-name>
    <web_1:url-pattern>*.js</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>default</web_1:servlet-name>
    <web_1:url-pattern>*.css</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>default</web_1:servlet-name>
    <web_1:url-pattern>*.json</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </web_1:listener>
  <web_1:listener>
    <listener-class>com.web.controller.util.InitListener</listener-class>
  </web_1:listener>
  <web_1:servlet>
    <web_1:servlet-name>springMVC</web_1:servlet-name>
    <web_1:servlet-class>org.springframework.web.servlet.DispatcherServlet</web_1:servlet-class>
    <web_1:init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:config/spring-servlet.xml</param-value>
    </web_1:init-param>
    <web_1:load-on-startup>1</web_1:load-on-startup>
  </web_1:servlet>
  <web_1:filter>
    <web_1:filter-name>characterEncodingFilter</web_1:filter-name>
    <web_1:filter-class>org.springframework.web.filter.CharacterEncodingFilter</web_1:filter-class>
    <web_1:init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </web_1:init-param>
    <web_1:init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </web_1:init-param>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>characterEncodingFilter</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:servlet-mapping>
    <web_1:servlet-name>springMVC</web_1:servlet-name>
    <web_1:url-pattern>/</web_1:url-pattern>
  </web_1:servlet-mapping>
  <web_1:filter>
    <web_1:filter-name>openSession</web_1:filter-name>
    <web_1:filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>openSession</web_1:filter-name>
    <web_1:url-pattern>/*</web_1:url-pattern>
  </web_1:filter-mapping>
</web_1:web-app>