<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>mainpage.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <context-param>
    <param-name>org.apache.tiles.CONTAINER_FACTORY</param-name>
    <param-value>org.apache.struts2.tiles.StrutsTilesContainerFactory</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>SelectCityServlet</servlet-name>
    <servlet-class>net.nw.servlet.SelectCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCityServlet</servlet-name>
    <url-pattern>/selectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModelServlet</servlet-name>
    <servlet-class>net.nw.servlet.ModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelServlet</servlet-name>
    <url-pattern>/ModelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DateServlet</servlet-name>
    <servlet-class>net.nw.servlet.DateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateServlet</servlet-name>
    <url-pattern>/DateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DefectServlet</servlet-name>
    <servlet-class>net.nw.servlet.DefectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefectServlet</servlet-name>
    <url-pattern>/DefectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownDefectServlet</servlet-name>
    <servlet-class>net.nw.servlet.DownDefectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownDefectServlet</servlet-name>
    <url-pattern>/DownDefectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownPjtServlet</servlet-name>
    <servlet-class>net.nw.servlet.DownPjtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownPjtServlet</servlet-name>
    <url-pattern>/DownPjtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownModelServlet</servlet-name>
    <servlet-class>net.nw.servlet.DownModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownModelServlet</servlet-name>
    <url-pattern>/DownModelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>net.nw.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
</web-app>